.head1{
    background-color: #3375EE;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='107' height='107' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%230062d8' fill-opacity='0.69'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.69'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 1px 1px 2px black;
 
}
#contat, #tit{
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: bolder;
    font-size: 50px;

}
#tit1{
    background-color: #20DBDE;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%2320DBDE' cx='50' cy='0' r='50'/%3E%3Cg fill='%2300d9e1' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300d7e4' cx='50' cy='100' r='50'/%3E%3Cg fill='%2300d5e6' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300d3e9' cx='50' cy='200' r='50'/%3E%3Cg fill='%2300d0ec' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300ceef' cx='50' cy='300' r='50'/%3E%3Cg fill='%2300cbf1' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300c9f3' cx='50' cy='400' r='50'/%3E%3Cg fill='%2300c6f6' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300c4f8' cx='50' cy='500' r='50'/%3E%3Cg fill='%2300c1fa' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300befb' cx='50' cy='600' r='50'/%3E%3Cg fill='%2300bbfd' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300b9fe' cx='50' cy='700' r='50'/%3E%3Cg fill='%2300b5ff' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300b2ff' cx='50' cy='800' r='50'/%3E%3Cg fill='%2300afff' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2300acff' cx='50' cy='900' r='50'/%3E%3Cg fill='%2300a8ff' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%231CA5FF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    box-shadow: 10px 10px 5px rgba(60, 6, 61, 0.637);
    padding: 4%;
    border-radius: 15px;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: bolder;
}
#tit2{
    background-color: #F20505;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23F20505' cx='50' cy='0' r='50'/%3E%3Cg fill='%23f80017' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fe0024' cx='50' cy='100' r='50'/%3E%3Cg fill='%23ff002f' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff003a' cx='50' cy='200' r='50'/%3E%3Cg fill='%23ff0045' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff0050' cx='50' cy='300' r='50'/%3E%3Cg fill='%23ff005b' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff0066' cx='50' cy='400' r='50'/%3E%3Cg fill='%23ff0072' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff007e' cx='50' cy='500' r='50'/%3E%3Cg fill='%23ff008a' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff0097' cx='50' cy='600' r='50'/%3E%3Cg fill='%23ff00a3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff00b0' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ff00bd' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff00ca' cx='50' cy='800' r='50'/%3E%3Cg fill='%23ff00d8' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff00e5' cx='50' cy='900' r='50'/%3E%3Cg fill='%23ff00f2' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23F800FF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    box-shadow: 10px 10px 5px rgba(60, 6, 61, 0.637);
    padding: 4%;
    border-radius: 15px;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-weight: bolder;
}
.head2{
    background-color: #222122;
}
.btn-add{
    background-color: rgba(0, 0, 0, 0);
    border: #20dbde00;
}
#bi1{
    fill:rgba(42, 218, 14, 0.856);
}
#bi2{
    fill: #F20505;
}
.charts{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 400px;
}